@font-face {
    font-family: "LedRegular";
    src: url(../fonts/led-counter-7.regular.ttf);
}

*{
    transition: all ease-in-out;
}
.main-sec{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-sec p{
    font-size: 200px;
    padding: 5px, 5px, 5px, 5px;
    margin: 0;
    font-family: "LedRegular", sans-serif;
}
.buttons{
    display: flex;
    gap: 20px;
}
.incrementButton{
    width: 150px;
    height: 150px;
    font-size: 100px;
    background-color: green;
    border: none;
    border-radius: 50px;
    color: white;

}
.incrementButton:hover{
    background-color: rgb(3, 75, 3);
    cursor: pointer;
}
.decrementButton{
    width: 150px;
    height: 150px;
    font-size: 100px;
    background-color: red;
    border: none;
    border-radius: 50px;
    color: white;
}

.decrementButton:hover{
    background-color: rgb(141, 5, 5);
    cursor: pointer;
}
.resetButton{
    width: 150px;
    height: 150px;
    font-size: 50px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 50px;

}

.resetButton:hover{
    background-color: rgba(128, 128, 128, 0.733);
    cursor: pointer;
}

.negativeCount{
    color: red;
}

.positiveCount{
    color: green;
}