.main-sec{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-sec p{
    font-size: 200px;
    padding: 0;
    margin: 0;
}
.buttons{
    display: flex;
}
.incrementButton{
    width: 200px;
    height: 200px;
    font-size: 100px;
    background-color: green;
    border: none;
}
.incrementButton:hover{
    background-color: rgb(3, 75, 3);
    cursor: pointer;
}
.decrementButton{
    width: 200px;
    height: 200px;
    font-size: 100px;
    background-color: red;
    border: none;
}

.decrementButton:hover{
    background-color: rgb(141, 5, 5);
    cursor: pointer;
}
.resetButton{
    width: 200px;
    height: 200px;
    font-size: 60px;
    background-color: grey;
    border: none;

}

.resetButton:hover{
    background-color: rgba(128, 128, 128, 0.733);
    cursor: pointer;
}